*.class
build/
.gradle/
*.jar
# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings/*
bin/*
data/*
lib/indri_jni.dll
lib/indri_jni.so
src/main/java/privatedata/UserSpecificConstants.java
/bin
