# This is a .properties file. There is no need for quotes but see Wikipedi
# for a list of things that need to be escaped, and the precise syntax
# Most of what you need in this file should be straightforward though
lucene_index = data/v1.5/lucene_index
jena_lucene_index = data/rdf/lucene
indri_index = data/v1.5/indri_index
indri_enabled = false
terrier_index = OPTIONAL UNTIL TERRIER IS IMPLEMENTED

bing_api_key = FILL ME IN

# The following are optional until the Google search is finished
google_app_name = FILL ME IN
google_api_key = FILL ME IN
google_custom_search_id = FILL ME IN

# Setup your SQL database (you may need to edit this)
jdbc_connection_string = jdbc:sqlite:data/watsonsim.db
