body {
    margin: 0;
	min-height: 100%;
	font-family: sans-serif;
}

.navbar-brand {
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    font-size: 225%;
    /*margin: 0 5em 0 2em;*/
    vertical-align: middle;
}

.navbar-brand small {
	position: relative;
	top: 4px;
	right: 5px;
	display: inline-block;
	transform: rotate(-20deg);
    color: #ccc;
	font-size: 65%;
}

#search {
}

#results {
    list-style-type: none;
}

#results>li {
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    background: #C8DAE0;
}

#results>li summary {
	color: auto;
}

#results>li summary .confidence {
	color: auto;
}

#console {
	display: none; 
    margin: 0 auto;
    width: 80%;
    height: 20em;
    list-style-type: none;
    background-color: black;
    color: #ddd;
    font-family: monospace;
    overflow-y: scroll;
    position: relative;
    bottom: 0;
}