body {
    margin: 0;
}

header {
    background: #4FA5C2;
}

.navbar-brand {
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    font-size: 225%;
    margin: 0 5em 0 2em;
    vertical-align: middle;
}

.navbar-brand small {
	position: relative;
	top: 4px;
	right: 5px;
	display: inline-block;
	transform: rotate(-20deg);
    color: #ccc;
	font-size: 65%;
}

header #note {
    color: white;
    margin-left: 3em;
}

header input {
    border-radius: 4px;
    height: 2em;
    width: 20em;
    margin-right: 1em;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 11pt;
}

#results {
    font-family: 'Share Tech Mono', sans-serif;
    list-style-type: none;
}

#results li {
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    background: #C8DAE0;
    font-size: large;
}

#console {
    margin: 0 auto;
    width: 80%;
    height: 20em;
    list-style-type: none;
    background-color: black;
    color: #ddd;
    font-family: monospace;
    overflow-y: scroll;
    position: relative;
    bottom: 0;
}